listen = ":8580"

#GFW规则获取地址
gfw_list="https://raw.githubusercontent.com/gfwlist/gfwlist/master/gfwlist.txt"
#GFW规则使用的代理名称
gfw_proxy=["shadowsocks"]

[proxy]
    [proxy.shadowsocks]
    name="shadowsocks"
    type="ss"
    addr=""
    username=""
    password=""

[rule]
    [rule.shadowsocks]
    condition_type="HostWildcardCondition"
    pattern=["*.google.com","*.d2pass.com"]
